{{!< default}}

<div class="container mx-auto">
  <div class="text-center pt-30 py-20">
    <h1 class="text-4xl font-bold mb-5">404</h1>
    <p class="text-xl font-bold">{{t 'Page Not Found' }}</p>
  </div>
</div>

<div class="loop py-5">
  <div class="container mx-auto">
    <div class="text-2xl font-bold mb-6 pt-0.5 border-b-4 border-b-black">최신글</div>
  </div>
{{#get "posts" include="tags,authors" limit="8"}}
  {{> loop }}
{{/get}}
</div>
