<div class="c-message__outer">
  <div class="o-container">
    <div class="c-message">
      <div class="c-message__content text-center">
        <p>아직 상품이 없어요.</p>
      </div>
    </div>
  </div>
</div>