/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.c-header {
  padding: $space-24 0;
  background-color: var(--bg-color);
  &__subscribe {
    font-family: Font Family;
    font-weight: 700;
    font-style: Bold;
    font-size: sm;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    background-color: var(--accent-color);
    padding: 8px 16px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid var(--accent-color);
    font-size: 15px;
    &:hover {
      background-color: white;
      color: var(--accent-color);
    }
  }
}

.js-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  will-change: transform;
  transition: transform $global-transition ease;

  &--pinned {
    transform: translateY(0);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--bg-transparent);

    &.js-header--not-top {
      border-bottom: 1px solid rgba(0,0,0,0.15);
      box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
    }

    @-moz-document url-prefix() {
      background-color: var(--bg-color);
    }
  }

  &--unpinned {
    transform: translateY(-100%)
  }

  &--top {
    box-shadow: none;
    backdrop-filter: none;
    background-color: transparent;
  }
}