{{!-- <ul class="c-nav o-plain-list">
  <li class="c-nav__item c-nav__item--all">
    {{#link href="/my-purchases/" class="c-nav__link" activeClass="c-nav__link--current"}}전체 보기{{/link}}
  </li>
  <li class="c-nav__item c-nav__item--online">
    {{#link href="/my-purchases/online-class/" class="c-nav__link" activeClass="c-nav__link--current"}}온라인 강좌{{/link}}
  </li>
  <li class="c-nav__item c-nav__item--webinar">
    {{#link href="/my-purchases/webinar/" class="c-nav__link" activeClass="c-nav__link--current"}}이벤트{{/link}}
  </li>
  <li class="c-nav__item c-nav__item--digital">
    {{#link href="/my-purchases/digital-book/" class="c-nav__link" activeClass="c-nav__link--current"}}디지털북{{/link}}
  </li>
  <li class="c-nav__item c-nav__item--etc">
    {{#link href="/my-purchases/etc/" class="c-nav__link" activeClass="c-nav__link--current"}}기타{{/link}}
  </li>
</ul> --}}


<div class="flex items-center flex-wrap text-sm font-bold gap-x-3 gap-y-3">
  {{#link href="/my-purchases/" class="c-shop-category__button px-8 py-4 flex items-center justify-center rounded-full" activeClass="current"}}전체 보기{{/link}}
  {{#link href="/my-purchases/online-class/" class="c-shop-category__button px-8 py-4 flex items-center justify-center rounded-full" activeClass="current"}}온라인 강좌{{/link}}
  {{#link href="/my-purchases/webinar/" class="c-shop-category__button px-8 py-4 flex items-center justify-center rounded-full" activeClass="current"}}이벤트{{/link}}
  {{#link href="/my-purchases/digital-book/" class="c-shop-category__button px-8 py-4 flex items-center justify-center rounded-full" activeClass="current"}}디지털북{{/link}}
  {{#link href="/my-purchases/etc/" class="c-shop-category__button px-8 py-4 flex items-center justify-center rounded-full" activeClass="current"}}기타{{/link}}
</div>